
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* // background-color: #777; */
  font-family: "Amatic SC", cursive;
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  /* overflow: hidden; */
}

.panel1 {
  background-image: url("imgs/first.jpg");
}
.panel2 {
  background-image: url("imgs/second.jpg");
}
.panel3 {
  background-image: url("imgs/third.jpg");
}
.panel4 {
  background-image: url("imgs/fourth.jpg");
}
.panel5 {
  background-image: url("imgs/fifth.jpg");
}

.panels {
    border: 2px solid red;
  height: 100vh;
  display: flex;
  gap: 3px;
  overflow-y: hidden;
}

.panels > * {
  flex: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  transition: flex 1s ease-in-out;
  transition-timing-function: steps(12, end);
  /* // gap: 12px; */
}

.panels > * > * {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 3px black;
  transition: All 1s 0.8s ease-in-out;
}

.panels > * :first-child {
  transform: translateY(-100%);
}

.panels > * :last-child {
  transform: translateY(100%);
}

.panels > .active :first-child,
.panels > .active :last-child {
  transform: translateY(0);
}

.panels > .active :nth-child(2) {
  font-size: 4.2rem;
}

.panels > .active {
  flex: 5;
}